@tailwind base;
@tailwind components;
@tailwind utilities;

.your-scroll-container::-webkit-scrollbar {
    display: none;
}

.your-scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
